form {
        display: grid;
        padding: 2em;
        //border: 1px solid #c1c1c1;
        margin: 2rem auto 0 auto;
        max-width: 600px;
        padding: 1em;
        outline: 1px solid rgba(0, 0, 0, 0.2);
}
form input {
        box-shadow: none;
        color: #565656;
        font-family:  'sans-serif';
        font-size: 1rem;
        padding: 10px;
        border: none;
        border: 1px solid #777777;
        outline: none;
      
}
label {
    padding: 0.5em 0.5em 0.5em 0;
  }
  form button {
    background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
    //border-color: #ff6c00;
   // padding: 15px 40px;
    padding: 0.9em;
    margin-top: 20px;
    color: #ffffff;
    cursor: pointer;
    width: 100%;
    border: none;
  }